<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<!-- 指明这个映射文件adminMapper.xml的逻辑路径,如果与接口建立映射，那么逻辑路径应该与接口的物理路径一致-->
<mapper namespace="com.lyxm.lychengdu.dao.AdminDao">
    <!-- parameterType表示要传入的参数的类型 ，resultType表示要返回的数据的类型-->

    <!-- 处理登录操作 -->
    <select id="login"  resultType="Admin">
        select * from admin where a_username=#{a_username} and a_password=#{a_password}
    </select>
    <!-- 查询数据库-->
<select id="getAdmin" parameterType="int" resultType="Admin">
    select * from admin where id=#{id}
</select>
    <select id="getAdmins" resultType="Admin">
        select * from admin order by id asc
    </select>
    <!-- 添加管理员-->
    <insert id="addAdmin">
        insert into admin(id,a_username,a_password,a_name,a_image,a_createTime)
        value(null,#{a_username},#{a_password},#{a_name},#{a_image},#{a_createTime})

    </insert>

    <delete id="deleteAdmin" parameterType="int">
        delete from Admin where id=#{id}
    </delete>

    <update id="updateAdmin">
        update admin set a_username=#{a_username},a_name=#{a_name} where id=#{id}
    </update>
    <!-- 查询数据库该账户名是否存在-->
    <select id="existAdmin" resultType="int">
        select count(id) from admin where a_username=#{a_username}
    </select>


    <update id="updatePassword">
        update admin set a_password=#{a_password} where id=#{id}
    </update>
</mapper>