<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<!-- 指明这个映射文件adminMapper.xml的逻辑路径,如果与接口建立映射，那么逻辑路径应该与接口的物理路径一致-->
<mapper namespace="com.lyxm.lychengdu.dao.CustomerDao">
    <!-- parameterType表示要传入的参数的类型 ，resultType表示要返回的数据的类型-->

    <!-- 处理登录操作 -->
    <select id="login"  resultType="Customer">
        select * from customer where c_name=#{c_name} and c_pass=#{c_pass}
    </select>

<!-- 添加客户-->
    <insert id="addCustomer">
        insert into customer(c_id,c_user,c_name,c_sign,c_pass,c_years,c_time)
        value(null,#{c_user},#{c_name},#{c_sign},#{c_pass},#{c_years},#{c_time})
    </insert>

    <select id="exitsCustomer" resultType="int">
        select count(c_id) from customer where c_user=#{c_user}
    </select>
    <!-- 查询数据库中所有的记录-->
    <select id="getCustomer" parameterType="int" resultType="Customer">
        select * from customer where c_id=#{c_id}
    </select>

    <select id="getCustomers" resultType="Customer">
        select * from customer order by c_id asc
    </select>

    <delete id="deleteCustomer" parameterType="int">
        delete from customer where c_id=#{c_id}
    </delete>

    <update id="updateCustomer">
        update Customer set c_user=#{c_user},c_name=#{c_name},c_sign=#{c_sign},c_pass=#{c_pass} where c_id=#{c_id}
    </update>
</mapper>