/*! CSS Used from: https://static.huxiucdn.com/common/bootstrap/css/bootstrap.min.css */
		
		a {
			background-color: transparent;
		}
		
		a:active,
		a:hover {
			outline: 0;
		}
		
		b {
			font-weight: 700;
		}
		
		h1 {
			margin: .67em 0;
			font-size: 2em;
		}
		
		img {
			border: 0;
		}
		
		button,
		input,
		textarea {
			margin: 0;
			font: inherit;
			color: inherit;
		}
		
		button {
			overflow: visible;
		}
		
		button {
			text-transform: none;
		}
		
		button {
			-webkit-appearance: button;
			cursor: pointer;
		}
		
		button::-moz-focus-inner,
		input::-moz-focus-inner {
			padding: 0;
			border: 0;
		}
		
		input {
			line-height: normal;
		}
		
		textarea {
			overflow: auto;
		}
		
		@media print {
			*,
			:after,
			:before {
				color: #000!important;
				text-shadow: none!important;
				background: 0 0!important;
				-webkit-box-shadow: none!important;
				box-shadow: none!important;
			}
			a,
			a:visited {
				text-decoration: underline;
			}
			a[href]:after {
				content: " (" attr(href) ")";
			}
			img {
				page-break-inside: avoid;
			}
			img {
				max-width: 100%!important;
			}
			h3,
			p {
				orphans: 3;
				widows: 3;
			}
			h3 {
				page-break-after: avoid;
			}
			.btn>.caret {
				border-top-color: #000!important;
			}
		}
		
		* {
			-webkit-box-sizing: border-box;
			-moz-box-sizing: border-box;
			box-sizing: border-box;
		}
		
		:after,
		:before {
			-webkit-box-sizing: border-box;
			-moz-box-sizing: border-box;
			box-sizing: border-box;
		}
		
		button,
		input,
		textarea {
			font-family: inherit;
			font-size: inherit;
			line-height: inherit;
		}
		
		a {
			color: #337ab7;
			text-decoration: none;
		}
		
		a:focus,
		a:hover {
			color: #23527c;
			text-decoration: underline;
		}
		
		a:focus {
			outline: 5px auto -webkit-focus-ring-color;
			outline-offset: -2px;
		}
		
		img {
			vertical-align: middle;
		}
		
		h1,
		h3 {
			font-family: inherit;
			font-weight: 500;
			line-height: 1.1;
			color: inherit;
		}
		
		h1,
		h3 {
			margin-top: 20px;
			margin-bottom: 10px;
		}
		
		h1 {
			font-size: 36px;
		}
		
		h3 {
			font-size: 24px;
		}
		
		p {
			margin: 0 0 10px;
		}
		
		.small {
			font-size: 85%;
		}
		
		ul {
			margin-top: 0;
			margin-bottom: 10px;
		}
		
		.container {
			padding-right: 15px;
			padding-left: 15px;
			margin-right: auto;
			margin-left: auto;
		}
		
		@media (min-width:768px) {
			.container {
				width: 750px;
			}
		}
		
		@media (min-width:992px) {
			.container {
				width: 970px;
			}
		}
		
		@media (min-width:1200px) {
			.container {
				width: 1170px;
			}
		}
		
		.form-control {
			display: block;
			width: 100%;
			height: 34px;
			padding: 6px 12px;
			font-size: 14px;
			line-height: 1.42857143;
			color: #555;
			background-color: #fff;
			background-image: none;
			border: 1px solid #ccc;
			border-radius: 4px;
			-webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, .075);
			box-shadow: inset 0 1px 1px rgba(0, 0, 0, .075);
			-webkit-transition: border-color ease-in-out .15s, -webkit-box-shadow ease-in-out .15s;
			-o-transition: border-color ease-in-out .15s, box-shadow ease-in-out .15s;
			transition: border-color ease-in-out .15s, box-shadow ease-in-out .15s;
		}
		
		.form-control:focus {
			border-color: #66afe9;
			outline: 0;
			-webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, .075), 0 0 8px rgba(102, 175, 233, .6);
			box-shadow: inset 0 1px 1px rgba(0, 0, 0, .075), 0 0 8px rgba(102, 175, 233, .6);
		}
		
		.form-control::-moz-placeholder {
			color: #999;
			opacity: 1;
		}
		
		.form-control:-ms-input-placeholder {
			color: #999;
		}
		
		.form-control::-webkit-input-placeholder {
			color: #999;
		}
		
		.form-control::-ms-expand {
			background-color: transparent;
			border: 0;
		}
		
		textarea.form-control {
			height: auto;
		}
		
		.btn {
			display: inline-block;
			padding: 6px 12px;
			margin-bottom: 0;
			font-size: 14px;
			font-weight: 400;
			line-height: 1.42857143;
			text-align: center;
			white-space: nowrap;
			vertical-align: middle;
			-ms-touch-action: manipulation;
			touch-action: manipulation;
			cursor: pointer;
			-webkit-user-select: none;
			-moz-user-select: none;
			-ms-user-select: none;
			user-select: none;
			background-image: none;
			border: 1px solid transparent;
			border-radius: 4px;
		}
		
		.btn:active:focus,
		.btn:focus {
			outline: 5px auto -webkit-focus-ring-color;
			outline-offset: -2px;
		}
		
		.btn:focus,
		.btn:hover {
			color: #333;
			text-decoration: none;
		}
		
		.btn:active {
			background-image: none;
			outline: 0;
			-webkit-box-shadow: inset 0 3px 5px rgba(0, 0, 0, .125);
			box-shadow: inset 0 3px 5px rgba(0, 0, 0, .125);
		}
		
		.btn-default {
			color: #333;
			background-color: #fff;
			border-color: #ccc;
		}
		
		.btn-default:focus {
			color: #333;
			background-color: #e6e6e6;
			border-color: #8c8c8c;
		}
		
		.btn-default:hover {
			color: #333;
			background-color: #e6e6e6;
			border-color: #adadad;
		}
		
		.btn-default:active {
			color: #333;
			background-color: #e6e6e6;
			border-color: #adadad;
		}
		
		.btn-default:active:focus,
		.btn-default:active:hover {
			color: #333;
			background-color: #d4d4d4;
			border-color: #8c8c8c;
		}
		
		.btn-default:active {
			background-image: none;
		}
		
		.caret {
			display: inline-block;
			width: 0;
			height: 0;
			margin-left: 2px;
			vertical-align: middle;
			border-top: 4px dashed;
			border-right: 4px solid transparent;
			border-left: 4px solid transparent;
		}
		
		.dropdown {
			position: relative;
		}
		
		.dropdown-toggle:focus {
			outline: 0;
		}
		
		.dropdown-menu {
			position: absolute;
			top: 100%;
			left: 0;
			z-index: 1000;
			display: none;
			float: left;
			min-width: 160px;
			padding: 5px 0;
			margin: 2px 0 0;
			font-size: 14px;
			text-align: left;
			list-style: none;
			background-color: #fff;
			-webkit-background-clip: padding-box;
			background-clip: padding-box;
			border: 1px solid #ccc;
			border: 1px solid rgba(0, 0, 0, .15);
			border-radius: 4px;
			-webkit-box-shadow: 0 6px 12px rgba(0, 0, 0, .175);
			box-shadow: 0 6px 12px rgba(0, 0, 0, .175);
		}
		
		.pull-right>.dropdown-menu {
			right: 0;
			left: auto;
		}
		
		.btn .caret {
			margin-left: 0;
		}
		
		.close {
			float: right;
			font-size: 21px;
			font-weight: 700;
			line-height: 1;
			color: #000;
			text-shadow: 0 1px 0 #fff;
			opacity: .2;
		}
		
		.close:focus,
		.close:hover {
			color: #000;
			text-decoration: none;
			cursor: pointer;
			opacity: .5;
		}
		
		.clearfix:after,
		.clearfix:before,
		.container:after,
		.container:before {
			display: table;
			content: " ";
		}
		
		.clearfix:after,
		.container:after {
			clear: both;
		}
		
		.pull-right {
			float: right!important;
		}
		
		
		.hide {
			display: none!important;
		}
		
		.show {
			display: block!important;
		}
		/*! CSS Used from: https://static.huxiucdn.com/www/css/build.css?v=201809281423 */
		
		a {
			color: #303030;
		}
		
		a:hover {
			color: #3ca5f6;
			text-decoration: none;
		}
		
		a:link {
			text-decoration: none;
		}
		
		img {
			width: 100%;
		}
		
		.c2 {
			color: #909090;
		}
		
		p {
			margin: 0;
		}
		
		.btn {
			border-radius: 0;
		}
		
		.search-history {
			margin-top: 50px;
			display: inline-block;
		}
		
		.search-history ul {
			margin: 10px 0 0 0;
			display: inline-block;
		}
		
		.search-history ul li {
			float: left;
			height: 35px;
			border: 1px solid #f0f0f0;
			margin: 0 20px 20px 0;
			padding: 0 15px;
			cursor: pointer;
		}
		
		.search-history ul li a {
			display: inline-block;
			width: 100%;
			height: 100%;
			color: #333;
			font-size: 16px;
			line-height: 33px;
		}
		
		.search-history ul li:hover a {
			color: #326a95;
		}
		
		.search-hot {
			margin-top: 40px;
		}
		
		.search-hot ul li a {
			color: #3ca5f6;
			font-weight: 700;
		}
		
		.container {
			padding: 0 0;
			width: 1170px!important;
			position: relative;
		}
		
		.wrap-left {
			position: relative;
			width: 800px;
			margin: 0 auto;
		}
		
		.wrap-right {
			width: 340px;
		}
		
		.hot-article-img img {
			width: 100%;
			-webkit-transition: all .5s ease-in-out;
			-moz-transition: all .5s ease-in-out;
			-ms-transition: all .5s ease-in-out;
			-o-transition: all .5s ease-in-out;
			transition: all .5s ease-in-out;
			vertical-align: top;
		}
		
		.hot-article-img:hover img {
			-webkit-transform: scale(1.04);
			-moz-transform: scale(1.04);
			-ms-transform: scale(1.04);
			-o-transform: scale(1.04);
			transform: scale(1.04);
		}
		
		.t-h1 {
			margin: 0 30px;
			bottom: 22px;
			position: absolute;
			line-height: 1.5;
			font-size: 24px;
			color: #fff;
			word-wrap: break-word;
			word-break: normal;
		}
		
		.span-mark-author {
			display: inline-block;
			border-bottom: 4px solid #f63756;
			position: absolute;
			z-index: 1;
			height: 28px;
			line-height: 20px;
			margin: -28px 0 0 0;
		}
		
		.pl-mark-wrap {
			margin-top: 46px;
			position: relative;
			width: 100%;
		}
		
		.pl-mark-wrap .pl-yh-span-mark {
			margin-top: 0;
		}
		
		.pl-yh-span-mark {
			display: inline-block;
			border-bottom: 4px solid #f63756;
			height: 28px;
			line-height: 20px;
			font-size: 16px;
			margin-top: 46px;
		}
		
		.column-link-box {
			position: absolute;
			bottom: 25px;
			right: 0;
			text-align: right;
		}
		
		.column-link {
			font-size: 12px;
			color: #3ca5f6;
			text-align: center;
			line-height: 1;
			z-index: 10;
			margin-left: 20px;
		}
		
		.icon {
			display: inline-block;
			vertical-align: text-bottom;
			background-image: url(https://static.huxiucdn.com/www/image/icon.png);
			background-repeat: no-repeat;
			width: 20px;
			height: 20px;
		}
		
		.i-icon {
			position: relative;
			width: 20px;
			height: 20px;
			display: inline-block;
			vertical-align: text-bottom;
			background-image: url(https://static.huxiucdn.com/www/image/icon.png);
			background-repeat: no-repeat;
			width: 20px;
			height: 20px;
		}
		
		.icon-auth3 {
			background-position: -325px -335px;
			margin-left: 10px;
		}
		
		.icon-article {
			position: relative;
			width: 60px;
			height: 60px;
		}
		
		.icon-article-wb {
			background-position: 10px -259px;
		}
		
		.icon-article-pyq {
			background-position: -50px -259px;
		}
		
		.icon-article-zfb {
			background-position: -238px -531px;
		}
		
		.icon-article-qzone {
			background-position: -121px -259px;
		}
		
		.icon-article-pl {
			background-position: -178px -253px;
		}
		
		.icon-article-col {
			background-position: -249px -249px;
		}
		
		.icon-article-col,
		.icon-article-pl {
			text-align: center;
			font-style: normal;
			line-height: 95px;
			color: #999;
			font-size: 12px;
		}
		
		.icon-article-col:hover,
		.icon-article-pl:hover {
			color: #fff;
		}
		
		.icon-article-zan {
			background-position: -367px -267px;
			height: 48px;
			width: 35px;
			display: inline-block;
		}
		
		.icon-article-zan-add {
			background-position: -362px -401px;
			height: 48px;
			width: 35px;
			display: inline-block;
		}
		
		.btn-dp {
			color: silver;
			cursor: pointer;
			width: 120px;
		}
		
		.btn-dp:hover {
			color: #3da9f7;
		}
		
		.btn-dp:hover .icon3-dp {
			background-position: -331px -203px;
		}
		
		.box-moder {
			background-color: #fafafa;
		}
		
		.box-moder h3 {
			margin: 0;
			height: 60px;
		}
		
		.box-moder h3 {
			font-size: 20px;
			font-weight: 400;
			padding: 30px 30px 0 30px;
			margin: 0;
		}
		
		.span-mark {
			display: inline-block;
			background-color: #f63756;
			position: absolute;
			z-index: 1;
			height: 20px;
			line-height: 20px;
			margin: -28px 0 0 0;
			width: 4px;
		}
		
		.box-author-info {
			display: inline-block;
			width: 340px;
			background-color: #fafafa;
			text-align: center;
			padding: 30px 0 30px 0;
			margin-bottom: 30px;
		}
		
		.box-author-info .author-face {
			position: relative;
			width: 98px;
			height: 98px;
			border-radius: 49px;
			overflow: hidden;
			margin-left: -49px;
			left: 50%;
		}
		
		.box-author-info .author-name {
			font-size: 16px;
			margin: 15px 0;
		}
		
		.box-author-info .author-one {
			font-size: 14px;
			margin: 12px 0;
			color: #bbb;
		}
		
		.box-author-info .author-article-pl {
			color: #bbb;
		}
		
		.box-author-info .author-next-article {
			text-align: left;
			border-top: 1px solid #f6f6f6;
			padding: 16px 30px 0 30px;
			width: 100%;
			margin-top: 60px;
		}
		
		.box-author-info .author-article-pl a {
			color: #bbb;
		}
		
		.box-author-info .author-article-pl a:hover {
			color: #333;
		}
		
		.box-author-info .author-article-pl ul li {
			float: left;
			width: 100%;
		}
		
		.box-author-info .author-article-pl ul li:first-child {
			text-align: center;
		}
		
		.article-left-btn-group {
			width: 60px;
			float: right !important;
			position: absolute;
			z-index: 220;
			bottom: 80px;
		}
		
		.article-left-btn-group.is-sticky {
			position: fixed;
			top: 90px;
			bottom: auto;
		}
		
		.article-left-btn-group ul li {
			width: 60px;
			cursor: pointer;
			background-color: #fafafa;
			border-bottom: 1px solid #f0f0f0;
		}
		
		.article-left-btn-group ul li:last-child,
		.article-left-btn-group ul li:nth-child(4) {
			border: none;
		}
		
		.article-left-btn-group ul li:nth-child(5) {
			margin-top: 30px;
		}
		
		.article-left-btn-group ul li:nth-child(1):hover .icon-article-wb {
			background-position: 11px -318px;
		}
		
		.article-left-btn-group ul li:nth-child(2):hover .icon-article-pyq {
			background-position: -50px -319px;
		}
		
		.article-left-btn-group ul li:nth-child(3):hover .icon-article-zfb {
			background-position: -238px -611px;
		}
		
		.article-left-btn-group ul li:nth-child(4):hover .icon-article-qzone {
			background-position: -121px -319px;
		}
		
		.article-left-btn-group ul li:nth-child(5):hover .icon-article-pl {
			background-position: -178px -323px;
		}
		
		.article-left-btn-group ul li:nth-child(6):hover .icon-article-col {
			background-position: -249px -320px;
		}
		
		.article-left-btn-group ul li:before {
			content: "";
			position: absolute;
			z-index: 0;
			width: 60px;
			height: 62px;
			opacity: 0;
			-webkit-transition: .5s cubic-bezier(.3, 0, 0, 1.3);
			-moz-transition: .5s cubic-bezier(.3, 0, 0, 1.3);
			-ms-transition: .5s cubic-bezier(.3, 0, 0, 1.3);
			-o-transition: .5s cubic-bezier(.3, 0, 0, 1.3);
			transition: .5s cubic-bezier(.3, 0, 0, 1.3);
			-webkit-transform: scale(0, 0);
			-moz-transform: scale(0, 0);
			-ms-transform: scale(0, 0);
			-o-transform: scale(0, 0);
			transform: scale(0, 0);
		}
		
		.article-left-btn-group ul li:nth-child(1):hover:before {
			background-color: #f74864;
		}
		
		.article-left-btn-group ul li:nth-child(2):hover:before {
			background-color: #1ec354;
		}
		
		.article-left-btn-group ul li:nth-child(3):hover:before {
			background-color: #17a9ff;
		}
		
		.article-left-btn-group ul li:nth-child(4):hover:before {
			background-color: #ffce0b;
		}
		
		.article-left-btn-group ul li:nth-child(5):hover:before {
			background-color: #3091f4;
		}
		
		.article-left-btn-group ul li:nth-child(6):hover:before {
			background-color: #f63756;
		}
		
		.article-left-btn-group ul li:hover:before {
			opacity: 1;
			-webkit-transform: scale(1, 1);
			-moz-transform: scale(1, 1);
			-ms-transform: scale(1, 1);
			-o-transform: scale(1, 1);
			transform: scale(1, 1);
		}
		
		.article-left-btn-group .weixin-Qr-code,
		.article-left-btn-group .zhifubao-Qr-code {
			display: none;
			position: absolute;
			width: 130px;
			height: 130px;
			margin-left: 80px;
			margin-top: -35px;
			box-shadow: 0 0 6px rgba(14, 22, 30, .3);
			background-color: #fff;
			z-index: 10;
		}
		
		.article-left-btn-group .weixin-Qr-code:before,
		.article-left-btn-group .zhifubao-Qr-code:before {
			content: '';
			display: block;
			position: absolute;
			width: 0;
			height: 0;
			border: 8px solid transparent;
			border-right: 10px solid rgba(0, 0, 0, .3);
			top: 57px;
			left: -18px;
		}
		
		.article-left-btn-group .weixin-Qr-code:after,
		.article-left-btn-group .zhifubao-Qr-code:after {
			content: '';
			display: block;
			position: absolute;
			width: 0;
			height: 0;
			border: 8px solid transparent;
			border-right: 10px solid #fff;
			top: 57px;
			left: -18px;
		}
		
		.article-wrap {
			width: 740px;
			float: left;
			padding-left: 30px;
			margin-left: 60px;
			word-wrap: break-word;
		}
		
		.article-wrap .t-h1 {
			font-size: 28px;
			margin: 0;
			position: inherit;
			line-height: 1.5;
			color: #333;
			word-wrap: break-word;
			word-break: normal;
		}
		
		.article-wrap .author-name {
			color: #303030;
			font-size: 14px;
		}
		
		.article-wrap .article-author {
			position: relative;
			color: #bbb;
			font-size: 16px;
			margin: 20px 0 20px 0;
		}
		
		.article-wrap .article-author .column-link-box {
			position: relative;
			margin-top: 20px;
			bottom: 0;
			left: 0;
			font-size: 14px;
		}
		
		.article-wrap .article-author .column-link-box a {
			margin-right: 20px;
			margin-left: 0;
			font-size: 14px;
		}
		
		.article-wrap .article-time {
			margin: 0 15px 0 0;
		}
		
		.article-wrap .article-share {
			margin: 0 15px 0 0;
		}
		
		.article-wrap img {
			width: auto;
			max-width: 100%;
		}
		
		.article-wrap .article-img-box img {
			width: 100%;
			height: 100%;
			object-fit: cover;
		}
		
		.pl-yh-zan .pl-yh-icon-zan {
			display: block;
			vertical-align: text-bottom;
			background-image: url(https://static.huxiucdn.com/www/image/icon3.png?v=201809101200);
			background-repeat: no-repeat;
			width: 26px;
			height: 26px;
			background-position: -148px -202px;
			cursor: pointer;
			float: left;
		}
		
		.pl-yh-zan {
			margin-right: 15px;
			overflow: hidden;
		}
		
		.pl-yh-zan .num {
			color: #909090;
			font-size: 12px;
			display: block;
			float: left;
			width: 26px;
			height: 26px;
			text-align: left;
			line-height: 26px;
			position: relative;
			top: 6px;
			margin-left: 10px;
		}
		
		.article-content-wrap {
			font-size: 16px;
			line-height: 30px;
			margin-top: 25px;
			text-align: justify;
		}
		
		ul {
			padding: 0;
			margin: 0;
			list-style-type: none;
		}
		
		.placeholder {
			height: 30px;
		}
		
		.project-more {
			position: absolute;
			margin-top: -30px;
			right: 30px;
		}
		
		.project-more a {
			color: #bbb;
		}
		
		.project-more a:hover {
			color: #333;
		}
		
		.hot-article ul li {
			padding: 30px 30px 24px 30px;
			border-bottom: 1px solid #f0f0f0;
			overflow: hidden;
		}
		
		.hot-article ul li:last-child {
			border: none;
		}
		
		.hot-article ul li .hot-article-img {
			position: relative;
			width: 280px;
			height: 158px;
			overflow: hidden;
			margin-bottom: 20px;
			background: #000;
		}
		
		.hot-article ul li img {
			overflow: hidden;
			margin-bottom: 20px;
		}
		
		.hot-article ul li a {
			font-size: 16px;
			line-height: 28px;
		}
		
		.hot-tag .search-hot {
			margin: 0 0 0 30px;
		}
		
		.transition {
			-webkit-transition: all .2s ease-out;
			-moz-transition: all .2s ease-out;
			-ms-transition: all .2s ease-out;
			-o-transition: all .2s ease-out;
			transition: all .2s ease-out;
		}
		
		.Qr-code {
			position: relative;
			padding: 50px 0 0 0;
			z-index: 80;
			height: 98px;
		}
		
		.praise-box {
			text-align: center;
			height: 48px;
			width: 148px;
			border: 1px solid #f6f6f6;
			line-height: 48px;
			color: #bbb;
			cursor: pointer;
		}
		
		.praise-box:hover {
			background-color: #f63756;
			border-color: #f63756;
			color: #fff;
		}
		
		.praise-box:hover .icon-article-zan {
			background-position: -367px -333px;
		}
		
		.praise-box.center-box {
			margin: 0 auto;
		}
		
		.praise-box span {
			position: relative;
			top: -15px;
		}
		
		.praise-box-add {
			position: absolute;
			margin-top: -40px;
			margin-left: 50px;
			color: #333;
			opacity: 0;
		}
		
		.article-wrap .tag-box {
			border-top: 1px solid #f0f0f0;
			padding-top: 20px;
			display: inline-block;
			width: 100%;
			margin-top: 60px;
		}
		
		.article-wrap .tag-box ul li {
			float: left;
			height: 35px;
			padding: 0 15px;
			background-color: #f0f0f0;
			color: #bbb;
			line-height: 35px;
			margin-right: 10px;
			margin-bottom: 10px;
		}
		
		.article-wrap .tag-box ul li:hover {
			background-color: #ececec;
			color: #999;
		}
		
		.article-wrap .article-img-box {
			text-align: center;
			position: relative;
			width: 710px;
			height: 400px;
		}
		
		.pl-wrap {
			margin-top: 90px;
		}
		
		.pl-yh-wrap {
			margin-top: 46px;
		}
		
		.pl-form-wrap {
			border-top: 1px solid #ececec;
		}
		
		.author-info {
			margin: 0 0 14px 0;
			display: inline-block;
		}
		
		.author-info .author-yh-face {
			position: relative;
			width: 40px;
			height: 40px;
			float: left;
		}
		
		.author-info .author-yh-face img {
			border-radius: 50%;
			width: 40px;
			height: 40px;
		}
		
		.pl-form-box {
			margin-top: 10px;
		}
		
		.pl-form-box textarea {
			height: 120px;
			border-radius: 0;
			resize: none;
			box-shadow: none;
			border-color: #e0e0e0;
			font-size: 14px;
		}
		
		.btn-article {
			width: 148px;
			height: 48px;
			line-height: 38px;
			color: #fff;
			background-color: #3ca5f6;
			font-size: 18px;
			border-radius: 4px!important;
			margin-top: 32px;
		}
		
		.dp-article-box .btn-article {
			margin-bottom: 5px;
		}
		
		.btn-article:hover {
			color: #fff;
			background-color: #2f99ea;
		}
		
		.btn-article:focus {
			color: #fff;
		}
		
		.no-login-box {
			height: 220px;
			width: 100%;
			border: 1px solid #f0f0f0;
			background-color: #fafafa;
			text-align: center;
			color: #bbb;
			font-size: 18px;
			line-height: 220px;
		}
		
		.no-login-box a {
			border-bottom: 1px solid #333;
			color: #333;
			cursor: pointer;
			padding-bottom: 5px;
		}
		
		.no-login-box a:hover {
			color: #3da9f7;
			border-color: #3da9f7;
		}
		
		.pl-box-wrap {
			padding: 24px 0;
			border-top: 1px solid #ececec;
		}
		
		.pl-box-wrap .dropdown button {
			height: 30px;
			width: 30px;
			border-radius: 0;
			color: #3ca5f6;
			border: 2px solid #f6f6f6;
		}
		
		.pl-box-wrap .btn-default:active,
		.pl-box-wrap .btn-default:hover {
			color: #fff;
			background-color: #3ca5f6;
			border-color: #3ca5f6;
		}
		
		.pl-box-wrap .dropdown-menu {
			border: none;
			box-shadow: 0 0 15px rgba(18, 21, 21, .2);
			margin: 10px 0 0 0;
			text-align: center;
			width: 120px;
			min-width: 10px;
			border-radius: 0;
			z-index: 1000;
		}
		
		.pl-box-wrap .dropdown-menu li {
			color: #bbb;
			font-size: 16px;
			margin: 12px 0;
			cursor: pointer;
		}
		
		.pl-box-wrap .dropdown-menu li:hover {
			color: #333;
		}
		
		.pl-box-wrap .pl-content div.pull-left {
			word-break: break-all;
			word-wrap: break-word;
			line-height: 22px;
			white-space: pre-line;
		}
		
		.pl-box-wrap .dropdown .btn .caret {
			margin: -6px 0 0 -3px;
		}
		
		.pl-box-btm {
			margin-top: 15px;
		}
		
		.pl-box-btm .pl-form-box {
			display: none;
		}
		
		.article-list-box {
			padding: 30px 0;
			border-top: 1px solid #ececec;
		}
		
		.article-box {
			width: 216px;
			height: 200px;
			border: 1px solid #f0f0f0;
			float: left;
			margin-right: 30px;
			margin-bottom: 30px;
		}
		
		.article-box:nth-child(3n+1) {
			margin-right: 0;
		}
		
		.article-box:hover {
			box-shadow: 0 5px 15px rgba(45, 50, 55, .2);
			-webkit-transform: translateY(-5px);
			-moz-transform: translateY(-5px);
			-o-transform: translateY(-5px);
			-ms-transform: translateY(-5px);
			transform: translateY(-5px);
		}
		
		.article-box img {
			width: 100%;
			height: 120px;
		}
		
		.article-box .article-title {
			padding: 15px 20px 0 20px;
			font-size: 16px;
			line-height: 24px;
		}
		
		.interested-article-box {
			display: inline-block;
			margin-top: 47px;
		}
		
		.interested-article-box .span-mark-author {
			font-size: 20px;
			font-weight: 700;
			color: #303030;
		}
		
		.neirong-shouquan {
			font-size: 14px!important;
			padding-top: 30px;
		}
		
		.neirong-shouquan-public {
			font-size: 14px!important;
			padding-top: 50px;
			font-weight: 700;
			text-align: center;
		}
		
		.neirong-shouquan-public span {
			display: table;
		}
		
		.article-content-wrap p a {
			color: #333;
			border-bottom: 1px solid #333;
			padding-bottom: 2px;
		}
		
		.text-remarks {
			color: #999;
			line-height: 30px;
		}
		
		.text-big-title {
			font-size: 20px;
			font-weight: 700;
			color: #a41d1d;
		}
		
		.article-content-wrap a:hover {
			color: #3da9f7;
			border-color: #3da9f7;
		}
		
		.btn:active {
			box-shadow: none;
		}
		
		.btn-default:active:focus,
		.btn-default:active:hover {
			background-color: #3ca5f6!important;
			border-color: #3ca5f6!important;
			color: #fff!important;
			box-shadow: none;
		}
		
		a {
			cursor: pointer;
		}
		
		.article-right-ad {
			position: relative;
		}
		
		.pl-yh-dropdown {
			margin-right: 10px;
		}
		
		.icon3-dp {
			width: 16px;
			height: 16px;
			background-position: -299px -203px;
		}
		
		.pl-yh-hot-mark {
			display: inline-block;
			border-bottom: 4px solid #f63756;
			height: 28px;
			line-height: 20px;
			font-size: 16px;
		}
		
		.pl-box-wrap .pl-yh-content {
			position: relative;
			overflow: hidden;
		}
		
		.author-comment-name {
			font-weight: 400;
			top: 11px;
			position: relative;
		}
		
		.author-comment-name a {
			margin-left: 10px;
		}
		
		.author-info .comment-yh-time {
			position: relative;
			color: #909090;
			top: 11px;
			margin-left: 16px;
		}
		
		#comment_show_new_position {
			margin-bottom: 156px;
		}
		/*! CSS Used from: https://static.huxiucdn.com/www/css/vip-icon.css?v=201704281052 */
		
		.i-vip {
			background: url(https://static.huxiucdn.com/www/image/vip.png?v=201704271734);
			background-size: 125px 100px;
			display: inline-block;
		}
		
		.icon-vip {
			background-position: -6px -4px;
			position: relative;
			top: 4px;
			width: 27px;
			height: 20px;
			left: 5px;
		}
		/*! CSS Used from: https://static.huxiucdn.com/www/css/cy.css?v=201805031715 */
		
		.btn {
			border-radius: 0;
		}
		
		.icon3 {
			display: inline-block;
			vertical-align: text-bottom;
			background-image: url(https://static.huxiucdn.com/www/image/icon3.png?v=201805031715);
			background-repeat: no-repeat;
			width: 30px;
			height: 25px;
		}
		/*! CSS Used from: https://static.huxiucdn.com/www/css/video.css?v=201807171852 */
		
		.related-pic-box {
			position: relative;
			width: 214px;
			height: 120px;
			background: #000;
		}
		/*! CSS Used from: https://static.huxiucdn.com/www/css/comment_yh.css?v=201801171652 */
		
		.pl-yh-content>div {
			text-align: justify;
		}
		/*! CSS Used from: https://static.huxiucdn.com/www/css/reward.css?v=201802061800 */
		
		.reward-btnIcon-open {
			background: url(https://static.huxiucdn.com/www/image/reward/reward_icon.png) no-repeat;
			background-position: -22px -18px;
			height: 60px;
			width: 60px;
			margin: 0 auto;
			margin-top: 60px;
			cursor: pointer;
		}
		
		.reward-btnIcon {
			position: relative;
		}
		
		.reward-default-fontBox {
			position: relative;
		}
		
		.reward-default-font {
			margin-top: 28px;
			text-align: center;
			font-size: 18px;
			color: #303030;
		}
		
		.reward-alreadyBox {
			margin-top: 20px;
		}
		
		.reward-personNum {
			font-size: 14px;
			color: #909090;
			text-align: center;
			margin-top: 14px;
		}
		
		.reward-default-fontBox .edit-input {
			border-radius: 8px;
			position: relative;
		}
		
		.reward-default-fontBox .edit-input input {
			color: #606060;
			font-size: 16px;
			padding-left: 20px;
			border: none;
			padding-top: 5px;
			outline: 0;
			width: 611px;
			display: none;
		}
		
		.reward-default-fontBox .edit-input .finish {
			font-size: 18px;
			color: #ff6060;
			width: 70px;
			height: 30px;
			border-left: 1px solid #e8e8e8;
			text-align: center;
			padding-top: 4px;
			cursor: pointer;
			display: none;
		}
		
		.reward-default-fontBox .reminder {
			font-size: 12px;
			color: #909090;
			margin-left: 23px;
			margin-top: 12px;
			display: none;
		}
		
		.article-left-btn-group ul li.weixin {
			position: relative;
		}
		
		.reward-weixin-QR-code {
			position: absolute;
			top: -12px;
			left: 71px;
			width: 314px;
			height: 227px;
			display: none;
		}
		
		.reward-weixin-QR-code .big {
			position: absolute;
			top: 36px;
			left: 74px;
			font-size: 14px;
			color: #303030;
		}
		
		.reward-weixin-QR-code .small {
			position: absolute;
			bottom: 38px;
			font-size: 12px;
			color: #909090;
			left: 85px;
		}
		
		.reward-weixin-QR-code .QR-box {
			width: 70px;
			height: 70px;
			left: 125px;
			position: absolute;
			top: 78px;
		}
		
		.reward-weixin-QR-code .close {
			background: url(https://static.huxiucdn.com/www/image/reward/reward_icon.png) no-repeat;
			background-position: -541px -102px;
			width: 34px;
			height: 34px;
			position: absolute;
			top: 12px;
			right: 10px;
			opacity: 1;
			cursor: pointer;
		}
		
		.detail-slideBar-zan .slideZanActive {
			width: 43px;
		}
		
		.detail-slideBar-zan .slideZan,
		.detail-slideBar-zan .slideZanActive {
			width: 27px;
			display: block;
			margin: 0 auto;
		}
		
		.zan-alertystatus,
		.zan-nostatus {
			width: 60px;
			height: 60px;
			padding-top: 10px;
		}
		
		.detail-slideBar-zan .zan-nostatus span {
			color: #999;
			font-size: 12px;
			display: block;
			text-align: center;
			margin-top: 5px;
		}
		
		.detail-slideBar-zan .zan-alertystatus span {
			font-size: 12px;
			display: block;
			text-align: center;
			margin-top: 5px;
			color: #fff;
		}
		
		.zan-alertystatus {
			background: #ff6060;
		}
		
		.zan-nostatus {
			background: #fafafa;
		}
		
		.reward-personHead {
			text-align: center;
			font-size: 0;
			padding-left: 10px;
		}
		
		.detail-slideBar-zan:hover:before {
			background: 0 0!important;
		}